<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Home</title>
  <th:block th:replace="layout/head :: head" />
</head>
<body>
<div class="be-wrapper be-fixed-sidebar">
  <!--navbar-->

  <th:block th:replace="layout/navbar :: navbar" />

  <!--     -->

  <!--sideber-->a
  <th:block th:replace="layout/sidebar :: sideber" />

  <!--     -->

  <!--  content-->
  <div class="be-content">
    <h1>Hello!
    </h1>
  </div>
  <!--    -->

  <!--  script-->
  <th:block th:replace="layout/script :: script" />
  <!--    -->
</div>
</body>
</html>