<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="sideber">
  <div class="be-left-sidebar">
    <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
      <div class="left-sidebar-spacer">
        <div class="left-sidebar-scroll">
          <div class="left-sidebar-content">
            <ul class="sidebar-elements">
              <li class="divider">Menu</li>
              <li class="active"><a href="/"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-face"></i><span>UI Elements</span></a>
                <ul class="sub-menu">
                  <li><a href="#">Alerts</a>
                  </li>
                  <li><a href="#">Buttons</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Cards</a>
                  </li>
                  <li><a href="#">Panels</a>
                  </li>
                  <li><a href="#">General</a>
                  </li>
                  <li><a href="#">Modals</a>
                  </li>
                  <li><a href="#">Notifications</a>
                  </li>
                  <li><a href="#">Icons</a>
                  </li>
                  <li><a href="#">Grid</a>
                  </li>
                  <li><a href="#">Tabs &amp; Accordions</a>
                  </li>
                  <li><a href="#">Nestable Lists</a>
                  </li>
                  <li><a href="#">Typography</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Drag &amp;
                    Drop</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Sweetalert
                    2</a>
                  </li>
                </ul>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-chart-donut"></i><span>Charts</span></a>
                <ul class="sub-menu">
                  <li><a href="#">Flot</a>
                  </li>
                  <li><a href="#">Sparklines</a>
                  </li>
                  <li><a href="#">Chart.js</a>
                  </li>
                  <li><a href="#">Morris.js</a>
                  </li>
                </ul>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Forms</span></a>
                <ul class="sub-menu">
                  <li><a href="#">Elements</a>
                  </li>
                  <li><a href="#">Validation</a>
                  </li>
                  <li><a href="#">Multiselect</a>
                  </li>
                  <li><a href="#">Wizard</a>
                  </li>
                  <li><a href="#">Input Masks</a>
                  </li>
                  <li><a href="#">WYSIWYG Editor</a>
                  </li>
                  <li><a href="#">Multi Upload</a>
                  </li>
                </ul>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-border-all"></i><span>Tables</span></a>
                <ul class="sub-menu">
                  <li><a href="#">General</a>
                  </li>
                  <li><a href="#">Data Tables</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Table
                    Filters</a>
                  </li>
                </ul>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Pages</span></a>
                <ul class="sub-menu">
                  <li><a href="#">Blank Page</a>
                  </li>
                  <li><a href="#">Blank Page Header</a>
                  </li>
                  <li><a href="#">Login</a>
                  </li>
                  <li><a href="#">Login v2</a>
                  </li>
                  <li><a href="#">404 Page</a>
                  </li>
                  <li><a href="#">Sign Up</a>
                  </li>
                  <li><a href="#">Forgot Password</a>
                  </li>
                  <li><a href="#">Profile</a>
                  </li>
                  <li><a href="#">Pricing Tables</a>
                  </li>m
                  <li><a href="p#">Pricing Tables v2</a>
                  </li>
                  <li><a href="#">Timeline</a>
                  </li>
                  <li><a href="#">Timeline v2</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Invoice</a>
                  </li>
                  <li><a href="#">Calendar</a>
                  </li>
                  <li><a href="#">Gallery</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New </span>Code
                    Editor</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Booking</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Loaders</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>AJAX
                    Loader</a>
                  </li>
                </ul>
              </li>
              <li class="divider">Features</li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-inbox"></i><span>Email</span></a>
                <ul class="sub-menu">
                  <li><a href="#">Inbox</a>
                  </li>
                  <li><a href="#">Email Detail</a>
                  </li>
                  <li><a href="#">Email Compose</a>
                  </li>
                </ul>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-view-web"></i><span>Layouts</span></a>
                <ul class="sub-menu">
                  <li><a href="#">Primary Header</a>
                  </li>
                  <li><a href="#">Success Header</a>
                  </li>
                  <li><a href="#">Warning Header</a>
                  </li>
                  <li><a href="#">Danger Header</a>
                  </li>
                  <li><a href="#">Search Input</a>
                  </li>
                  <li><a href="#">Off Canvas Menu</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Top
                    Menu</a>
                  </li>
                  <li><a href="#">Without Left Sidebar</a>
                  </li>
                  <li><a href="#">Without Right Sidebar</a>
                  </li>
                  <li><a href="#">Without Both Sidebars</a>
                  </li>
                  <li><a href="#">Fixed Left Sidebar</a>
                  </li>
                  <li><a href="#"><span
                          class="badge badge-primary float-right">New</span>Boxed Layout</a>
                  </li>
                  <li><a href="#">Page Aside</a>
                  </li>
                  <li><a href="#">Collapsible Sidebar</a>
                  </li>
                  <li><a href="#"><span
                          class="badge badge-primary float-right">New</span>Sub Navigation</a>
                  </li>
                  <li><a href="#"><span class="badge badge-primary float-right">New</span>Mega
                    Menu</a>
                  </li>
                </ul>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-pin"></i><span>Maps</span></a>
                <ul class="sub-menu">
                  <li><a href="#">Google Maps</a>
                  </li>
                  <li><a href="#">Vector Maps</a>
                  </li>
                </ul>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-folder"></i><span>Menu Levels</span></a>
                <ul class="sub-menu">
                  <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 1</span></a>
                    <ul class="sub-menu">
                      <li><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 2</span></a>
                      </li>
                      <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 2</span></a>
                        <ul class="sub-menu">
                          <li><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 3</span></a>
                          </li>
                          <li><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 3</span></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 1</span></a>
                    <ul class="sub-menu">
                      <li><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 2</span></a>
                      </li>
                      <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 2</span></a>
                        <ul class="sub-menu">
                          <li><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 3</span></a>
                          </li>
                          <li><a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 3</span></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="progress-widget">
        <div class="progress-data"><span class="progress-value">60%</span><span class="name">Current Project</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" style="width: 60%;"></div>
        </div>
      </div>
    </div>
  </div>
</th:block>